<html>
<head><title>Index of /os-demos/introduction/gcalc/res/layout/</title></head>
<body>
<h1>Index of /os-demos/introduction/gcalc/res/layout/</h1><hr><pre><a href="../index.html">../</a>
<a href="activity_calculator_land.xml">activity_calculator_land.xml</a>                       04-Jun-2025 16:20                1309
<a href="activity_calculator_port.xml">activity_calculator_port.xml</a>                       04-Jun-2025 16:20                1607
<a href="activity_calculator_tablet_port.xml">activity_calculator_tablet_port.xml</a>                04-Jun-2025 16:20                1227
<a href="display.xml">display.xml</a>                                        04-Jun-2025 16:20                1676
<a href="pad_advanced.xml">pad_advanced.xml</a>                                   04-Jun-2025 16:20                3741
<a href="pad_numeric.xml">pad_numeric.xml</a>                                    04-Jun-2025 16:20                2729
<a href="pad_operator_one_col.xml">pad_operator_one_col.xml</a>                           04-Jun-2025 16:20                2407
<a href="pad_operator_two_col.xml">pad_operator_two_col.xml</a>                           04-Jun-2025 16:20                2729
</pre><hr></body>
</html>
